body {
  font-size: 16px;
  line-height: 1;
  background-color: #d9bda9;
}
#blurb {
  font-family: "Roboto", sans-serif;
  color : rgb(65, 64, 64);
}

#currentDay {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Yeseva One", sans-serif;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #d9bda9;
  color: rgb(65, 64, 64);
  border-radius: 0;
  border-bottom: 10px dashed #CD8987;
  font-family: 'Sacramento', cursive;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border: 0.5px solid black;
  font-family: "Roboto", sans-serif;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  
}

.hour {
  background-color: #CD8987;
  color: rgb(65, 64, 64);
  padding-top: 3%;
  border: solid black 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: "Yeseva One", sans-serif;
}

.past {
  background-color: #264653;
  color: white;
}

.present {
  background-color: whitesmoke;
  color: black;
}

.future {
  background-color: #DCEDC1;
  color: #2A9D8F;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #E9C46A;
  color: rgb(65, 64, 64);
  font-family: "Yeseva One", sans-serif;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}